html, body {
    height: 100%;
    background-color: #0E1525;
}

.yellow_container {
    border-color: #FFEA7F;
    background-color: #0D1117;
    border-width: 0.1rem;
    border-style: solid;
    margin: 1em;
}

pre {
    position: relative;
    background-color: #161B22; 
    color: #F0F6FC; 
    text-align: left;
    border-radius: 1rem; 
    width: 95%;; 
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

/* ConFig buttons */

.list {
    width: 320px;
    overflow-y: auto;
}
.list-item {
    padding: 10px;
    background: #FDFDFD;
    margin-bottom: 2px;
    cursor: pointer;
}
.content {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E54452;
    font-family: Verdana;
    font-size: 12px;
}
button {
    flex-shrink: 0;
    height: 48px;
    width: 120px;
    margin: 16px 16px 32px 16px;
    font-size: 14px;
    background: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    outline: none;
    color: #FF8747;
    cursor: pointer;
    font-family: Verdana;
    box-shadow: 0px 2px 10px #E54452;
}

/* Copy Button */
.copy-button {
    position: absolute;
    top: 0px;
    right: 0px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: large;
    padding: 0.4rem  0.6rem  0.3rem  0.6rem;
    border-radius: 0.5rem;
    border: 1.5px solid #363B42;
    background-color: #21262D;
    color: #8A939D;
}
.copy-button:hover,.copy-button:focus,.copy-button:active,.copy-button:active:hover {
    border: 1.5px solid #8A939D;
    background-color: #30363D;
}