html, body {
    height: 100%;
    background-color: #0E1525;
}

.yellow_container {
    border-color: #FFEA7F;
    background-color: #0D1117;
    border-width: 0.1rem;
    border-style: solid;
    margin: 1em;
}

pre {
    background-color: #161B22; 
    text-align: left; 
    color: #F0F6FC; 
    border-radius: 1rem; 
    width: 95%;; 
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.list {
    width: 320px;
    overflow-y: auto;
}
  
.list-item {
    padding: 10px;
    background: #FDFDFD;
    margin-bottom: 2px;
    cursor: pointer;
}
  
.content {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E54452;
    font-family: Verdana;
    font-size: 12px;
}
  
button {
    flex-shrink: 0;
    height: 48px;
    width: 120px;
    margin: 16px 16px 32px 16px;
    font-size: 14px;
    background: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    outline: none;
    color: #FF8747;
    cursor: pointer;
    font-family: Verdana;
    box-shadow: 0px 2px 10px #E54452;
}
